main {
    background-color: #062930;
}

form {
    width: 90vw;
    max-width: 20em;
    background-color: #d4fef2;
    margin-left: 35%;
    margin-top: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    padding-top: 15px;
    border: solid;
  }
  
  button {
    margin-top: 2rem;
  }
  
  input {
    border: 1px solid;
    padding: 0.3em;
    width: 100%;
  }
  
  textarea {
    width: 100%;
    min-height: 6em;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  select {
    font-size: 16px;
  }
  
  .postal-code {
    width: 50%;
  }