@import url('https://fonts.googleapis.com/css?family=Raleway:700,900');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    background-color: #d4fef2;
    background-size: 100% 200%;
    background-position: center top;
}
/* 
@keyframes gradientAnimation {
    0% {
        background-position: center top;
    }

    100% {
        background-position: center bottom;
    }
} */

a {
    text-decoration: none;
}

.hamburger-menu {
    position: absolute;
    top: 30px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: right;
    color: #062930;
    text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
    }

.hamburger-menu-hamburger {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    }

/* Sections */
.section {
    height: 200px;
    min-height: 200px;
    position: relative;
}

/* Containers */
.content-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    clip: rect(auto, auto, auto, auto);
    pointer-events: none;
}

.content-inner {
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    height: 50%;
    padding: 0;
    z-index: 99;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-perspective: 1000;
    perspective: 1000;
    pointer-events: all;
}

.content-center {
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Aesthetics */
.top-section {
    background: linear-gradient(135deg, #f4583a 0%, #cd1e38 100%);
}

.bottom-section {
    background: #d4fef2;
}

.section h1 {
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.section p,
.section a {
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
}

.content-theme-dark h1 {
    color: #E33E39;
    text-shadow: 0 20px 40px rgba(0, 0, 0, .5);
}

.content-theme-dark p,
.content-theme-dark a {
    color: #FEA98D;
}

.content-theme-light h1 {
    color: #062930;
    text-shadow: 0 10px 40px rgba(0, 0, 0, .5);
}

.content-theme-light p,
.content-theme-light a {
    color: #728E93;
}